body{
    margin: 0;
}

header, footer{
    background-color: #1f2937;
}


nav{
    display: flex;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

nav p{
    font-size: 24px;
    color: #f9faf8;
    margin-top: 0;
}


.header-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image img{
    width: 500px;
    height: 300px;
}

.info{
    width: 35%
}

.info h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.info p{
    font-size: 18px;
    color: #e5e7eb;
}

.image{
    width: 35%
}

header{
    padding: 30px;
}

button{
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}

main h2{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.block img{
    width: 175px;
    height: 150px;
    border: #3882f6 5px solid;
    border-radius: 5px;
    align-self: center;
}

.blocks{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.block{
    display: flex;
    flex-direction: column;
    flex-basis: 200px
}

.block p{
    text-align: center;
}

blockquote{
    background-color: #e5e7eb;
    margin: 0;
    display: flex;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.head{
    max-width: 1000px;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
}

.footer{
    max-width: 1000px;
    text-align: end;
    background-color: none;
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    margin-left: 50%;
}

.action-button{
    margin: 30px 20%;
    background-color: #3882f6;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}

.call-to p, h3{
    margin: 0;
}

.action{
    border: #fff 1px solid;
    padding: 5px 15px;
}

footer{
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 10px;
}